ion-icon {
    font-size: 22px;
    font-family: 'Segoe UI';
    color: #1E90FF;
  }
.itemListCompleted {
    text-decoration: line-through;
    color: black;
  }
.ion-fab {
  margin: 8px;
  width: 1px;
  height: 180px;
  line-height: 80px;
}
.ion-padding {
  font-size: 25px;
}

