<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Crie Sua Melhor Lista!</ion-title>
  </ion-toolbar>
</ion-header>

<ion-card>
  <img src="assets/icon/favicon.png"/>
</ion-card>

      <ion-content padding color="secondary">
<ion-item>
  <ion-input type="text" placeholder="Item" [(ngModel)]="currentItem.itemName"></ion-input>
  <ion-input type="number" placeholder="| Qtd" [(ngModel)]="currentItem.itemAmount"></ion-input>
  <ion-input type="tel" placeholder="| Preço" [(ngModel)]="currentItem.itemPrice"></ion-input>
  <div class="item-note" item-end>
    <button ion-button (click)="addItem()"><ion-icon name="add-circle"></ion-icon></button>
  </div>
</ion-item>
<div padding>
  <ion-list>
    <ion-reorder-group (IonItemReorder)="reorderItems($event)" disabled="false">
    <ion-item *ngFor="let item of itemList; let itemIndex = index">
        {{item.itemName}} | {{ item.itemAmount }} | R$ {{item.itemPrice}}
        <ion-label slot="end" text-right>{{ (item.itemPrice * item.itemAmount) | currency:'BRL':'symbol' }}</ion-label>
        <ion-reorder slot="end"></ion-reorder>
      <div class="item-note" item-end>
        <button ion-button clear (click)="editItem(itemIndex)">
          <ion-icon name="create"></ion-icon>
        </button>
        <button ion-button clear (click)="deleteItem(itemIndex)">
          <ion-icon name="trash"></ion-icon>
        </button>
        <button ion-button clear (click)="checkmarkItem(itemIndex)">
          <ion-icon name="checkmark-circle"></ion-icon>
        </button>
      </div>
    </ion-item>
    <ion-item>
      Total: <span slot="end">{{ total | currency:'BRL':'symbol' }}</span>
  </ion-item>
    </ion-reorder-group>
  </ion-list>
</div>
      </ion-content>



   

